.center {
	width        : 1280px;
	margin       : 0px auto;
	font-family  : "Arial";
	margin-bottom: 20px;
}

.cap {
	background: red;
	color     : white;
	padding   : 5px;
}

.sec {
	background: black;
	color     : white;
	padding   : 5px;
}

.obs p {
	margin         : 0px;
	padding        : 6px;
	border         : 1px solid black;
	border-collapse: collapse;
}

.list1 {
	list-style-type: square;
}

.list2 {
	list-style-image: url(../images/listimg.jpg);
}

.list3, .list4, .list5 {
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
}

.list3{
	list-style-position: outside;
}

.list4 {
	list-style-position: inside;
}

.list5 {
	list-style: upper-roman outside;
}