* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Tahoma';
}

body {
	height: 100%;
}

.center {
	max-width: 1060px;
	margin: 0px auto;
	padding: 0% 2%;
}

.clear {
	clear: both;
}

@font-face {
	font-family:'Klavika-Bold'; 
	src: url(../fonts/Klavika-Bold.otf);
}

@font-face {
	font-family:'Open-Sans-Light'; 
	src: url(../fonts/OpenSans-Light.ttf);
}


/*HEDAER*/


div.header {
	min-height: 82px;
	background: linear-gradient(180deg, #4c659f, #375697);
	border-bottom: 1px solid #172e62;
	box-shadow: 0px 0px 2px #172e62;
}

div.container-logo h1 {
	font-size: 40px;
	color: white;
	font-family: 'Klavika-Bold';
	font-weight: normal;
}

div.container-logo,
div.container-login {
	display: inline-block;
}

div.container-logo {
	float: left;
	margin-top: 24px;
}

div.container-login {
	float: right;
	margin-top: 12px;
	font-size: 0px; 		
}	

/*O FONT-SIZE: "0"; ACIMA É UTILIZADO AQUI PARA FAZER 
COM QUE O DISPLAY: INLINE-BLOCK NÃO GERE
WHITESPACES! ESTA REGRA DEVE SEMPRE SER
APLICADA NO PARENT DO INLINE-BLOCK!*/							

div.form-element {
	display: inline-block;
	vertical-align: top;
}

div.form-element p {
	color: white;
	font-size: 12px;
	margin-bottom: 4px;
}

div.form-element span {
	color: white;
	font-size: 12px;
	margin-top: 4px;
	text-decoration: none;
	color: #83a4df;
}

div.form-element a {
	color: white;
	font-size: 12px;
	margin-top: 4px;
	display: block;
	text-decoration: none;
	color: #83a4df;
}

div.form-extra {
	margin-top: 4px;
}

div.form-element input[type="text"],
div.form-element input[type="password"] {
	width: 150px;
	height: 22px;
	padding: 2px;
	margin-right: 14px;
	border: 1px solid #254a90;
	background: #fefabf;
}

div.form-element input[type="submit"] {
	width: 50px;
	height: 22px;
	background: #3f63a9;
	color: white;
	border: 1px solid #254a90;
	font-weight: bold;
	font-size: 12px;
	margin-top: 21px;
	cursor: pointer;
}

div.form-element input[type="checkbox"] {
	margin-right: 4px;
}


div.form-element input[type="text"]:focus,
div.form-element input[type="password"]:focus {
	border: none;
	outline: none;
}

div.form-element input[type="submit"]:hover {
	background: #365796;
}


/*MAIN-1*/

div.container-map,
div.container-sign-up,
div.w50,
div.info,
div.container-extra,
div.container-submit,
div.container-create-page {
	display: inline-block;
}

div.main-1 {
	min-height: 590px;
	background: linear-gradient(0deg, #d5d9e4, #ffffff);
	border-bottom: 1px solid #d0d4dd;
	box-shadow: 0px 0px 2px grey;
}

div.main-1 > .center {
	font-size: 0px;
}

div.container-map,
div.container-sign-up {
	height: auto;
	margin-top: 24px;
}

div.container-map {
	width: 55%;
	float: left;
	margin-top: 36px;
}

div.container-map img {
	width: 100%;
}

div.container-sign-up {
	width: 40%;
	float: right;
}

div.container-map p {
	font-size: 24px;
	font-weight: bold;
	color: #050513;
}

div.container-sign-up h2 {
	font-size: 34px;
	font-weight: bold;
	color: #1e2023;
	margin-bottom: 12px;
}

div.container-sign-up > h3 {
	font-size: 18px;
	color: #1e2023;
	margin-bottom: 22px;
}

div.w50 input,
div.w100 input {
	border: 1px solid lightgrey;
	border-radius: 4px;	
	font-size: 18px;
	width: 100%;
	height: 38px;
	padding: 10px;
}

div.w50 {
	float: left;
	width: 50%;
	margin-bottom: 10px;
}

div.w50:nth-of-type(1) {
	padding-right: 5px;
}

div.w50:nth-of-type(2) {
	padding-left: 5px;
}

div.w100 {
	padding-bottom: 10px;
}

div.container-birthday {
	padding-top: 10px;
}

div.container-birthday h3,
div.container-gender h3 {
	font-size: 18px;
	color: #1e2023;
	margin-bottom: 10px;
}

select.day,
select.month,
select.year {
	padding: 4px;
	color: #1e2023;
}

div.info {
	max-width: 140px;
	vertical-align: bottom;
	margin-left: 10px;
}

div.info a {
	font-size: 11px;
	text-decoration: none;
	color: #375697;
}

div.container-gender {
	display:inline-block;
	margin: 20px 0px 14px 0px;
}

div.container-gender div.container-element {
	display:inline-block;
	margin-right: 12px;
}

div.container-gender div.container-element span {
	font-size: 18px;
}

div.container-gender div.container-element input {
	margin-right: 6px;
}

div.container-extra {
	margin-bottom: 20px;
}

div.container-extra p {
	max-width: 320px;
	font-size: 11px;
}

div.container-extra a {
	text-decoration: none;
	color: #375697;
	text-shadow: 0px 0px 1px grey;
}

div.w50 input[type="submit"] {
	background: linear-gradient(180deg, #68a353 ,#61865b);
	color: white;
	cursor: pointer;
	padding: 0px;
	border: 1px solid #2e492d;
}


div.w50 input[type="submit"]:hover {
	background: linear-gradient(180deg, #548647 ,#496d43);
}

div.container-create-page {
	margin-top: 20px;
}

div.container-create-page a {
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #375697;
}

div.w50 input:focus,
div.w100 input:focus {
	border: none;
	outline: none;
}

select:focus {
	border: 1px solid grey;
	outline: none;
}


/*FOOTER*/


div.footer {
	margin-top: 40px;
}

div.container-footer a {
	font-size: 12px;
	text-decoration: none;
	margin-right: 4px;
	color: #375697;
}

div.border {
	width: 100%;
	height: 2px;
	background: lightgrey;
	margin: 10px 0px;
}

div.container-footer:last-child a {
	font-size: 12px;
	text-decoration: none;
	margin-right: 14px;
	color: #375697;
}



/*MEDIA-QUERIES*/


@media screen and (max-width: 980px) {

	/*HEADER*/

	div.header {
		padding-bottom: 20px;
	}

	div.container-logo {
		float: none;
		display: block;
		text-align: center;
		margin: 0px;
		padding-top: 20px;
	}

	div.container-login {
		float: none;
		display: block;
	}

	div.form-element {
		float: none;
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}

	div.form-element > input[type="text"],
	div.form-element > input[type="password"] {
		margin-right: 0px;
	}

	div.form-element > input[type="submit"] {
		width: 150px;
		height: 50px;
		margin-top: 0px;
	}

	div.form-extra {
		margin-bottom: 20px;
	}

	/*MAIN-1*/

	div.main-1 {
		box-shadow: none;
		padding-bottom: 20px;
	}

	div.container-map {
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}

	div.container-map img,
	div.container-map p {
		width: 90%;
		margin: 0px auto;
	}

	div.container-sign-up {
		float: none;
		display: block;
		width: 90%;
		text-align: center;
		margin: 0px auto;
	}

	div.form-element {
		width: 100%;
		display: block;
		margin: 0px auto;
	}

	div.container-details > div.w50 {
		width: 100%;
		padding: 0px;
	}	

	div.container-birthday h3,
	div.container-gender h3 {
		font-size: 26px;
	}

	div.container-birthday > div.info {
		display: block;
		margin: 10px auto 0px auto;
		max-width: 320px;
	}

	div.container-birthday > div.info > a {
		font-size: 16px;
		width: 100%;
	}

	div.container-gender {
		display: block;
	}

	div.container-element {
		display: block;
		width: 100%;
	}

	div.container-extra {
		display: block;
		width: 100%;
	}

	div.container-extra > p {
		margin: 30px auto;
		font-size: 16px;
	}

	form > div.w50 {
		float: none;
	}

	div.container-create-page {
		display: block;
		max-width: 320px;
		margin: 10px auto 0px auto;
	}

	div.container-create-page a {
		font-size: 16px;
	}

	/*FOOTER*/

	div.footer {
		margin: 0px;
		padding: 5%;
	}

	div.container-footer {
		text-align: center;
	}

	div.container-footer > a {
		font-size: 16px;
		line-height: 26px;
		margin-right: 20px;
	}

	div.container-footer:last-child > a {
		font-size: 16px;
		margin-right: 20px;
	}
}

@media screen and (max-width: 420px) {

	/*MAIN-1*/

	div.container-map {
		display: none;
	}

	div.container-sign-up {
		margin-top: 20px;
	}
	div.container-birthday > select {
		display: block;
		margin: 0px auto;
		width: 50%;
	}

	form > div.w50 {
		width: 90%;
	}




}